{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowListBucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::my-12digit-acc-nummber:root"
            },
            "Action": "*",
            "Resource": "arn:aws:s3:::my-bucket"
        },
        {
            "Sid": "AllowListBucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::my-12digit-acc-number:root"
            },
            "Action": "*",
            "Resource": "arn:aws:s3:::my-bucket/*"
        }
    ]
}
